
<!-- BEGIN: Underscore Template Definition for weather data. -->
<p> Weather details! </p>
<p>city name:  <%= cityName %> </p> 
<p>Location: [lat: <%= cityLat %> ]</p>  
<p>[lon: <%= cityLon %> ]</p> 
<p>condition:  <%= cityDescription %> </p> 
<p>weather icon: <img src="<%= cityIcon %>" alt="weather icon graphic" /></p>
<p>humidity:  <%= cityHumidity %> </p> 
<p>temparate:  <%= cityTemparate %> </p> 
<p>Min temperature: <%= cityTemp_min %> </p>
<p>Max temperature:  <%= cityTemp_max %> </p>
<p>pressure:  <%= cityPressure %> </p>